/* BottomNavigation.css */
.bottom-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000; /* Темный фон */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0; /* Увеличенные отступы */
    border-top: 2px solid #333;
    z-index: 1000; /* Чтобы всегда быть сверху */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Добавляем тень */
    border-radius: 15px 15px 0 0; /* Закругляем верхние края */
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; /* Белый цвет текста */
    font-size: 14px; /* Увеличенный размер текста */
    padding: 5px 10px;
    transition: color 0.3s, transform 0.2s;
  }
  
  .nav-icon {
    font-size: 25px; /* Увеличенный размер иконок */
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
  }
  