.bottom-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0 0;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: "Sour Gummy", serif;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-item:hover {
    color: #00b4d8;
  }
  
  .nav-icon {
    font-size: 20px;
  }
  
  .nav-label {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
  }
  